<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Drop and Gimme..</title>
</head>

<body>
    <h1>Drop and Gimme...</h1>
    
    <form action="/viewAll" method ="GET">
        <label for="dropdown">Muscle Group</label>
        <select name="muscleGroup" id="dropdown">
          <option value="Warmup">Warmup</option>
          <option value="Upper Body">Upper Body</option>
          <option value="Core">Core</option>
          <option value="Posterior Chain">Posterior Chain</option>
          <option value="Glutes">Glutes</option>
          <option value="Legs">Legs</option>
          <option value="Full Body">Full Body</option>
        </select>
        <input type="submit" value="Submit" />
  </form>

</body>
</html>